@font-face {
  font-family: 'TT';
  src: url("TT.ttf");
}
@font-face {
  font-family: 'AbobeKaitiStd';
  src: url("AdobeKaitiStd.otf");
}

@font-face {
  font-family: 'SEVER';
  src: url("SEVER.TTF");
}

@font-face {
  font-family: 'TT0524M';
  src: url("TT0524M_.TTF");
}
